* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #584d62;
}

.header__logo {
  max-width: 5.98513rem;
}

.header__logo img {
  width: 100%;
}

.header__logo img:hover {
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.head__section {
  background-color: #24053e;
  padding-bottom: 7.5rem;
  /* margin-bottom: 5.34rem; */
  position: relative;
}

header .cta__txt {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 0.19rem;
}

.curved__section {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.curved__section svg {
  display: block;
  width: calc(300% + 1.3px);
  height: 100px;
}

.curved__section .shape-fill {
  fill: #24053e;
}

.section__1 h1 {
  max-width: 21.4375rem;
  width: 100%;
  margin-inline: auto;
  color: white;
  text-align: center;
  font-family: "Fraunces";
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem;
  padding-bottom: 2.5rem;
}

.section__1 .underlined__txt {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-underline-offset: 0.5rem;
}

.section__1 button {
  display: block;
  max-width: 8.3125rem;
  width: 100%;
  margin-inline: auto;
  background-color: #44ffa1;
  border: none;
  outline: none;
  color: #24053e;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
  padding-top: 0.69rem;
  padding-bottom: 0.75rem;
  transition: 0.1s linear;
}

.phone__mockup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  max-width: 20rem;
  margin-inline: auto;
  margin-top: 24rem;
}

.phone__mockup img {
  width: 100%;
}

.section__2 {
  background-color: #fcf8ff;
}

.grouped__section {
  padding-top: 11rem;
  padding-bottom: 0.1rem;
  position: relative;
}

.grouped__section .no {
  color: #24053e;
  text-align: center;
  font-family: "Fraunces";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  border-radius: 1.90625rem;
  border: 1px solid #584d62;
  text-align: center;
  max-width: 3rem;
  width: 100%;
  margin-inline: auto;
  padding-block: 0.25rem;
  margin-bottom: 1.5rem;
}

.group__summary h2 {
  color: #24053e;
  text-align: center;
  font-family: "Fraunces 144pt";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  max-width: 21.4375rem;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 1rem;
}

.group__summary p {
  color: #584d62;
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  max-width: 21.4375rem;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

.curved__section__2 {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curved__section__2 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 100px;
}

.curved__section__2 .shape-fill {
  fill: #fcf8ff;
}

.section__3 {
  position: relative;
}

.founder__img {
  max-width: 17.5625rem;
  margin-inline: auto;
  margin-top: 9rem;
}

.founder__img img {
  width: 100%;
}

.founder__summary {
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  background-color: #24053e;
  max-width: 21.4375rem;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 2rem;
  margin-bottom: 4.62rem;
}

.founder__summary h2 {
  max-width: 17.5rem;
  width: 100%;
  margin-inline: auto;
  color: #fff;
  text-align: center;
  font-family: "Fraunces";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.founder__summary p {
  max-width: 17.5625rem;
  width: 100%;
  margin: auto;
  color: var(--White, #fff);
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  padding-bottom: 1.5rem;
}

.founder__summary button {
  display: block;
  max-width: 10.75rem;
  width: 100%;
  margin-inline: auto;
  background-color: #44ffa1;
  border: none;
  outline: none;
  color: #24053e;
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.01rem;
  padding-top: 0.69rem;
  padding-bottom: 0.75rem;
}

footer {
  margin-top: 25rem;
  max-width: 7.25rem;
  width: 100%;
  margin-inline: auto;
}

.footer__logo {
  /* max-width: 7.25rem; */
  padding-bottom: 1.6rem;
  width: 100%;
  margin-inline: auto;
}

.footer__logo img {
  width: 100%;
}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  font-size: 1.3rem;
  color: #584d62;
  padding-bottom: 4rem;
}

.spiral__1,
.spiral__2,
.spiral__3 {
  display: none;
}

ion-icon {
  transition: 0.1s linear;
}

ion-icon:hover {
  cursor: pointer;
  color: #24053e;
}

@media screen and (min-width: 500px) {
  .founder__summary {
    max-width: 25.4375rem;
    width: 100%;
  }

  .founder__summary p {
    max-width: 22rem;
    width: 100%;
    line-height: 1.85rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    padding-inline: 2.5rem;
  }

  .head__section {
    position: relative;
  }

  .spiral__1,
  .spiral__2 {
    display: block;
    position: absolute;
  }

  .spiral__1 {
    top: 0;
    left: 0;
    margin-top: 4rem;
    margin-left: -14.3rem;
  }

  .spiral__2 {
    top: 0;
    right: 0;
    margin-top: 18rem;
  }

  .cta__txt:hover {
    cursor: pointer;
  }

  .content {
    position: relative;
  }

  .section__1 h1 {
    min-width: 35.8125rem;
    width: 100%;
    padding-inline: 1rem;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem; /* 100% */
  }

  .section__1 button {
    margin-bottom: 3.27rem;
  }

  .section__1 button:hover {
    border: 1px solid #44ffa1;
    background-color: #24053e;
    color: #44ffa1;
    font-weight: normal;
    cursor: pointer;
  }

  .phone__mockup {
    max-width: 29.40256rem;
    width: 100%;
    top: 5%;
  }

  .grouped__section {
    padding-top: 13rem;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .group__no .no {
    padding-inline: 1rem;
  }

  .group__summary h2 {
    max-width: 30.8125rem;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-bottom: 1rem;
  }

  .group__summary p {
    text-align: left;
    max-width: 30.8125rem;
    width: 100%;
    color: #584d62;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .curved__section__2 svg {
    margin-bottom: 7.45rem;
  }

  .founder__img {
    max-width: 17.5625rem;
    width: 100%;
    margin: 0;
    margin-top: 6.27rem;
    margin-left: 2.44rem;
  }

  .founder__summary {
    max-width: 32.125rem;
    width: 100%;
    margin-left: 10rem;
  }

  .founder__summary h2 {
    margin-inline: none;
    text-align: left;
    max-width: 25.125rem;
    width: 100%;
  }
  .founder__summary p {
    max-width: 25.125rem;
    width: 100%;
    margin-inline: none;
    text-align: left;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
  }

  .founder__summary button {
    margin-left: 3.5rem;
  }

  .btn button {
    margin-bottom: 3.5rem;
    transition: 0.1s linear;
  }

  .btn button:hover {
    border: 1px solid #44ffa1;
    background-color: #24053e;
    color: #44ffa1;
    font-weight: normal;
    cursor: pointer;
  }

  .spiral__3 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16.83rem;
  }

  footer {
    margin-top: 27rem;
  }
}

@media screen and (min-width: 1024px) {
  .head__section header {
    padding-inline: 3.5rem;
  }

  .section__1 h1 {
    max-width: 39.6875rem;
    width: 100%;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 2.31rem;
  }

  .section__1 button {
    max-width: 10.0625rem;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .section__2 .phone__mockup {
    max-width: 44.6875rem;
    width: 100%;
    top: 7%;
  }

  .phone__mockup img {
    width: 100%;
  }

  .grouped__section {
    padding-top: 23rem;
    max-width: 69.625rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.62rem;
    flex-wrap: wrap;
    padding-bottom: 10.69rem;
  }

  .group {
    flex-direction: column;
    gap: 0;
  }

  .group__summary h2 {
    max-width: 22.125rem;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: -5rem;
  }

  .group__summary p {
    max-width: 22.125rem;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    color: #24053e;
  }

  .founder__img {
    margin-left: 8rem;
  }

  .founder__summary {
    left: 18%;
    top: 52%;
  }

  .social__icons {
    gap: 1.7rem;
    margin-top: 1rem;
  }

  .btn {
    max-width: 11.875rem;
    width: 100%;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  .founder__img {
    margin-top: 6.88rem;
    max-width: 29.8125rem;
    width: 100%;
    margin-left: 10.18rem;
  }

  .founder__summary {
    max-width: 45.625rem;
    width: 100%;
    left: 26%;
    top: 48%;
  }

  .founder__summary h2 {
    max-width: 33rem;
    width: 100%;
    margin: 0;
    font-size: 3.5rem;
    padding-top: 4rem;
    padding-left: 4.03rem;
    padding-bottom: 2rem;
  }

  .founder__summary p {
    max-width: 37.625rem;
    width: 100%;
    font-size: 1.125rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  footer {
    margin-top: 18rem;
  }
}

@media screen and (min-width: 1441px) {
  section {
    max-width: 1441px;
    width: 100%;
    margin-inline: auto;
  }
}
